body {
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    color: antiquewhite;
    height: 100vh;
}

canvas {
    width: 600px;
    height: 600px;
    background-color: rgb(70, 70, 70);

}